.tupqi {   /* 轮播总容器 */
                position: absolute;
                top: 395px;
                left: 13px;
                width: 820px;
                height: 389px; 
				
            }
            .tu, .tu a {
                position: absolute;
                top: 0;
                left: 0;
            }
            .circle1 {      /* 菜单 */
                width: 824px;
                height: 50px;
                position: absolute;
				bottom: -2px;
                cursor: pointer;
				
				
            }
            .circle1 a {    /* 菜单文字 */
                width: 164px;
                height: 45px;
				float: left;
				font-size: 14px;
				background-color: gainsboro;
			   text-align: center;
				line-height: 45px;  /* 行高与自身高度一样文字居中显示 */
            }
			.circle1 a:hover{  /*   鼠标移到那个位置字体显示金色下划线也是 */
				color: #B8860B;
				background-color:white;
				border-bottom: 1.5px solid #B8860B;  
				
			}